<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>${APP_NAME}</string>
    <key>ProgramArguments</key>
    <array>
        <string>${APP_BIN_DIR}/${APP_NAME}</string>
    </array>
    <key>StartInterval</key>
    <integer>${APP_INTERVAL_SEC}</integer>
    <key>StandardOutPath</key>
    <string>${APP_LOG_DIR}/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>${APP_LOG_DIR}/stderr.log</string>
</dict>
</plist>
